<h2>
  {{ 'LOVE_TECH' | translate }} <div class="smile"></div>
</h2>
<h2><atd-welcome></atd-welcome></h2>

<p>
  {{'ABOUT_REWARD' | translate}}
</p>
<p>
  {{'ABOUT_ADD' | translate}}
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" [placeholder]="'INPUT_HINT' | translate">
  <button type="submit">{{'ADD_BTN_TEXT' | translate}}</button>
</form>

<ul>
  <li *ngFor="let name of (names$ | async)">{{name}}</li>
</ul>

<p>
  <a class="link" (click)="readAbout()">About - RouterExtensions example</a>
</p>

<div class="parent2">
  <div class="parent1">
    <div class="nested-class" id="nested-id" style="color:blue;">
      I am a nested element
    </div>
  </div>
</div>
